{% extends './basic_layout.html' %}
{% block styles %}
{% endblock %}
{% block contentHead %}
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Pass Data</h1>
        <p class="mb-4"> Overview page of all passes held in the server. A 'Pass' holds the meta data of the
            digital membership cards. The 'Serial Number' is a unique number value associated with each
            membership card. Moreover, the 'Authentication Token' is a value that is repeatedly checked against
            the local database for valdiations; it is also unique for each pass created. The 'File Name' is
            simply
            a concatenation of the first and last name for that member. 'Last Sent' refers to when an email was
            last
            sent to a member, or when it was last updated (this is because, after the pass is installed on a
            device,
            each time Apple Wallet or Google Play App 'Pass' is opened, it will check against our server for the
            latest
            update automatically. Note that for every record in membership, there can be zero to multiple
            passes associated with it. If a record in the Membership table is currently NOT a member, then
            he/she
            will NOT have a pass created.
        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Pass Table</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Serial Number</th>
                            <th>Authentication Token</th>
                            <th>File Name</th>
                            <th>Last Sent</th>
                            <th>Last Updated</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pass in data %}
                            <tr>
                                <td>{{ pass.id }}</td>
                                <td>{{ pass.authenticationToken }}</td>
                                <td>{{ pass.file_name }}</td>
                                <td>{{ pass.last_sent }}</td>
                                <td>{{ pass.last_updated }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block customScripts %}
{% endblock %}