{% extends './basic_layout.html' %}
{% block styles %}
{% endblock %}
{% block contentHead %}
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Membership Data</h1>
        <p class="mb-4"> Overview page of all members. This page should reflect the data that was last uploaded
            from the csv file downloaded from Altru. Thus, this table may contain old data. It should only be
            used as
            a quick reference.
        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Membership Table</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Membership ID</th>
                            <th>Member Level</th>
                            <th>Full Name</th>
                            <th>Expiration Date</th>
                            <th>Status</th>
                            <th>Associated members</th>
                            <th>Address Line 1</th>
                            <th>Address Line 2</th>
                            <th>city</th>
                            <th>state</th>
                            <th>zip</th>
                            <th>email</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for member in data %}
                            <tr>
                                <td>{{ member.id }}</td>
                                <td>{{ member.member_level }}</td>
                                <td>{{ member.full_name }}</td>
                                <td>{{ member.expiration_date }}</td>
                                <td>{{ member.status }}</td>
                                <td>{{ member.associated_members }}</td>
                                <td>{{ member.address_line_1 }}</td>
                                <td>{{ member.address_line_2 }}</td>
                                <td>{{ member.city }}</td>
                                <td>{{ member.state }}</td>
                                <td>{{ member.zip }}</td>
                                <td>{{ member.email }}</td>
                                <td>{{ member.add_on_name }}</td>
                                <td>{{ member.add_on_value }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block customScripts %}
{% endblock %}