{% extends './basic_layout.html' %}
{% block styles %}
{% endblock %}
{% block contentHead %}
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Device Data</h1>
        <p class="mb-4">Overview page of all the devices that have registered with our server. A mobile device
            is
            'registered' with our server when a user 'install/adds' a .pkpass file to their phone. Once added,
            the mobile device sends a message to our servers for validation checking, and allows the server to
            correctly identify devices that are associated with a membership, and send updated passes to them.
            'Date
            Registered' is the date when a device has installed their last membership card; indicating to us
            that they
            have indeed installed the membership pass at least once to a device. 'Device Library Identifier' is
            a
            unique ID associated with the device. The 'Push Token' is used for our server to send any updates to
            the Apple Push Notifiaction Service (APNs), who will forward the update to the device.
        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Device Table</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Date Registered</th>
                            <th>Device Library Identifier</th>
                            <th>Push Token</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for device in data %}
                            <tr>
                                <td>{{ device.id }}</td>
                                <td>{{ device.date_registered }}</td>
                                <td>{{ device.device_lib_id }}</td>
                                <td>{{ device.push_token }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block customScripts %}
{% endblock %}