{% extends './basic_layout.html' %}
{% block styles %}
    <!-- Custom styles and scripts for this page -->
    <link href="../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}
{% block contentHead %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Send passes</h1>
    <p class="mb-4">This page allows you to quickly and simply send passes to selected users; both
        individuall
        and in groups (via checkbox on the left). Note that 'Last card update' shows when the membership
        card was
        last changed. Last card registration shows the date when the user has installed their membership
        card
        onto their mobile device. Any changes to the passes table in the backend database should
        automatically update
        the membership passes. 'Last email sent' indicates when was the last time an e-mail was last sent to
        a member.
    </p>
{% endblock %}
{% block content %}
    <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
    <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Send Passes</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Select</th>
                            <th>Membership ID</th>
                            <th>Full Name</th>
                            <th>Member Level</th>
                            <th>Expiration Date</th>
                            <th>Last Card update</th>
                            <th>Last Device Registration</th>
                            <th>Last E-mail Sent</th>
                            <th>Send Pass</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for member,pass,device in data %}
                            <tr>
                                <td><input type="checkbox" name="send_mail"></td>
                                <td>{{ member.id }}</td>
                                <td>{{ member.full_name }}</td>
                                <td>{{ member.member_level }}</td>
                                <td>{{ member.expiration_date }}</td>
                                <td>{{ pass.last_updated }}</td>
                                {% if device in pass.devices %}
                                    <td>{{ device.date_registered }}</td>
                                {% else %}
                                    <td> No registered device</td>
                                {% endif %}
                                {% if pass.last_sent == None %}
                                    <td> No prior e-mail sent</td>
                                {% else %}
                                    <td>{{ pass.last_sent }}</td>
                                {% endif %}
                                <td><a class='mailButton' data-email="{{ member.email }}"
                                       data-full_name="{{ member.full_name }}"
                                       data-auth="{{ pass.authenticationToken }}" data-last_sent={{ pass.last_sent }}>
                                    <button class='btn btn-default'>Send Pass</button>
                                </a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <button id="send-multiple-passes" class='mailButton'> Send Multiple Passes</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block customScripts %}
    <!-- Page level plugins -->
    <script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="../static/js/demo/send-pass-demo.js"></script>
{% endblock %}