{% extends './basic_layout.html' %}
{% block styles %}
    <!-- Custom styles and scripts for this page -->
    <link href="../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}
{% block contentHead %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Upload Membership Data</h1>
    <p class="mb-4">Membership data at Phipps is currently stored in a remote service in Blackbaud, under
        Altru. The current approach to having non-stale data is to download in batch all members (approx
        20k)
        and repopulate the PostGres Database for this site here.
        insertion or updating.</p>

{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
    <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Upload Membership Data</h6>
            </div>
            <div class="card-body">
                <form id="upload-file" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <input type="file" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" name=file>
                    </fieldset>
                    <br>
                    <fieldset>
                        <button id="upload-file-btn" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="button">Upload</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block customScripts %}
    <!-- Page level plugins -->
    <script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="../static/js/demo/file-upload-demo.js"></script>
{% endblock %}
